<nav class="navbar navbar-expand-lg nav1 ">
    <div class="container-fluid ">
        <div class="navbar-brand containerImage" >
          <a href="{{ path('app_home') }}"   ><img src="{{ asset('build/img/Logo.png') }}" alt=""></a>
        </div>
        <div class="navbar-brand" >
            <div class="d-flex justify-content-center my-3">

                <div class="input-group mb-3 text-center  ">
{#                    {% include 'front/partials/search.html.twig'%}#}
                </div>

            </div>

        </div>
        <!-- Button trigger modal -->
        <a href="{{ path('app_back_category_index') }}" class="nav-link px-0 btn btn-primary"> <span class="d-none d-sm-inline">Provisoire</span></a>

        <div class="navbar-brand" >
            {% if app.user %}
                <a class="btn btn-yellow"  href="{{  path('app_login') }}">
                        <p>Bienvenue</p>
                        <p class="display-bt">{{app.user.username}}</p>
                </a>

            {% else%}

                    <a class="btn btn-yellow" href="{{  path('app_login') }}">
                        <p>Bienvenue</p>
                        <p class="display-bt">Accéder a votre compte</p>
                    </a>

            {% endif %}
        </div>
    </div>
</nav>