
<div class="cardProd  " >
    <div class="container-image text-center  ">
       <a href="{{ path('app_detail_product', {'id': product.id}) }}"> <img src="{{ product.picture[0].path }}" class="mx-auto" ></a>
    </div>
    <div class="card-body" >

        <div class="container  ">
            <h4>{{ product.label }}</h4>
{#            <p> Note moyenne {{ product.note}} <sup></sup> </p>#}
            <div class="row">
                <p class="col-6   text-start">{{ product.priceHt }} €</p>
                <p class="col-6   text-end">test</p>
            </div>
                <a class="btn btn-primary  mx-auto">Ajouter au panier</a>
        </div>

    </div>
</div>