
<div class="cardProd"    href="">
    <div class="container-image text-center">
        <img src="{{ asset('build/img/Logo.png') }}" class="mx-auto" >
    </div>
    <div class="card-body" >

        <div class="container ">
            <h4>{{ product.label }}</h4>
{#            <p> Note moyenne {{ product.note}} <sup>{{ product.note }}</sup> </p>#}
            <div class="row">
                <p class="col-6   text-start">{{ product.priceHt }} €</p>
                <p class="col-6   text-end">test</p>
            </div>
            <a class=" btn btn-card display-bt ">Ajouter au panier</a>
        </div>

    </div>
</div>