{#<div class="offcanvas offcanvas-start bg-green " tabindex="-1" id="offcanvasnav1" aria-labelledby="offcanvasnav1Label">#}
{#    <div class="offcanvas-header justify-content-center text-uppercase">#}
{#        <h5 class="offcanvas-title text-light " id="offcanvasnav1Label">Categories</h5>#}
{#        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body liste  ">#}

{#        <!-- chats -->#}
{#        <ul class=" text-center text-light list-unstyled">#}
{#            <li>#}
{#                <a href=""> <img src="{{ asset('build/img/svg/bar_de_nav/cat.svg') }}" style="width: 20px; height: 20px"></a>#}
{#            </li>#}
{#            <li> <img src="{{ asset('build/img/VectorB.png') }}" alt=""> </li>#}
{#            <li>Nourriture</li>#}
{#            <li>Couchages</li>#}
{#            <li>Soins & Hygiène</li>#}
{#            <li>Jouets</li>#}
{#        </ul>#}

{#        <!-- chiens -->#}
{#        <ul class=" text-center  text-light list-unstyled">#}
{#            <li>#}
{#                <a href=""> <img src="{{ asset('build/img/svg/bar_de_nav/dog.svg') }}" style="width: 20px; height: 20px"></a>#}
{#            </li>#}
{#            <li><img src="{{ asset('build/img/VectorB.png') }}"></li>#}
{#            <li>Nourriture</li>#}
{#            <li>Couchages</li>#}
{#            <li>Soins & Hygiène</li>#}
{#            <li>Jouets</li>#}
{#        </ul>#}

{#        <!-- rongeurs -->#}
{#        <ul class="  text-center text-light list-unstyled">#}
{#            <li>#}
{#                <a href=""> <img src="{{ asset('build/img/svg/bar_de_nav/rabbit.svg') }}" style="width: 20px; height: 20px"></a>#}
{#            </li>#}
{#            <li><img src="{{ asset('build/img/VectorB.png') }}"> </li>#}
{#            <li>Nourriture</li>#}
{#            <li>Maisonettes</li>#}
{#            <li>Soins & Hygiène</li>#}
{#            <li>Jouets</li>#}
{#        </ul>#}
{#        <ul class=" text-center  text-light list-unstyled">#}

{#            <!--Poisson -->#}
{#            <li>#}
{#                <a href=""> <img src="{{ asset('build/img/svg/bar_de_nav/fish.svg') }}" style="width: 20px; height: 20px"></a>#}
{#            </li>#}
{#            <li><img src="{{ asset('build/img/VectorB.png') }}"> </li>#}
{#            <li>Nourriture</li>#}
{#            <li>Aquarium</li>#}
{#            <li>Hygiène</li>#}
{#            <li>Jouets</li>#}
{#        </ul>#}
{#        <!-- Programme -->#}
{#        <ul class="  text-center text-light list-unstyled">#}
{#            <li>#}
{#                <a href=""> <img src="{{ asset('build/img/svg/autre/rocket-launch.svg') }}" style="width: 20px; height: 20px"> </a>#}
{#            </li>#}
{#            <li><img src="{{ asset('build/img/VectorB.png') }}"> </li>#}
{#            <li>Envoyer votre animal dans l’espace</li>#}
{#        </ul>#}

{#    </div>#}
{#</div>#}





<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

