
<div class="container  detail-product my-5">
    <div class="row">
      <div class="col-6 container-images my-auto ">
          <div class="row">
              <div class="col-3  container-image-p ">
                  <div class="row d-flex flex-column  " >
                      {% for productIteration in products[0].picture %}
                     <img src="{{ productIteration.path }}" class="mx-auto">
                      {% endfor %}
                  </div>
              </div>
              <div class="col-9 container-image-g  " >
{#                  <img src="{{ product[0].picture.path }}" class="my-auto">#}
              </div>
          </div>
      </div>

        <div  class="col-6 text-container ">
         <h3>{{ products[0].label }}</h3>
            <p>{{ products[0].description }}</p>
            <p class="price">{{ products[0].priceHt }} €</p>
         <p>etoile</p>

            <div class="d-flex flex-row align-items-center">
                <a class="favorite-green me-2" ></a>
                <a class="btn btn-primary ms-2" > Ajouter au panier  </a>
            </div>
            <div class="payment text-center" >
                <a class="mastercard" href=""><span>mastercard</span></a>
                <a class="paypal" href=""><span>paypal</span></a>
                <a class="visa" href=""><span>visa</span></a>
            </div>

        </div>

    </div>

</div>

