

{% extends 'back/base.html.twig' %}

{% block title %}User index{% endblock %}


{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{
                    knp_pagination_sortable(
                        users,
                        'Email',
                        'user.email'
                    )|raw
                    }}</th>
                <th>{{
                    knp_pagination_sortable(
                        users,
                        'Pseudo',
                        'user.username'
                    )|raw
                    }}</th>
                <th>{{
                    knp_pagination_sortable(
                        users,
                        'Prénom',
                        'user.firstName'
                    )|raw
                    }}</th>
                <th>{{
                    knp_pagination_sortable(
                        users,
                        'nom',
                        'user.lastName'
                    )|raw
                    }}</th>
                <th> {{
                    knp_pagination_sortable(
                        users,
                        'Genre',
                        'gender.label'
                    )|raw
                    }}</th>
                <th>
                    {{
                    knp_pagination_sortable(
                        users,
                        'Panier',
                        'nbBasket'
                    )|raw
                    }}
                    <span class="empty-filter"></span>
                </th>
                <th>Commande</th>
                <th>DateOfBirth</th>
                <th>RegistrationDate</th>
                <th>
                    <div>
                        <button type="submit" class="filter-action">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user[0].email }}</td>
                <td>{{ user[0].username }}</td>
                <td>{{ user[0].firstName }}</td>
                <td>{{ user[0].lastName }}</td>
                <td>{{ user[0].gender.label}}</td>
                <td>{{ user['nbBasket'] }}</td>
                <td></td>
                <td>{{ user[0].dateOfBirth ? user[0].dateOfBirth|date('d/m/Y') : '' }}</td>
                <td>{{ user[0].registrationDate ? user[0].registrationDate|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_user_show', {'id': user[0].id}) }}">show</a>
                    <a href="{{ path('app_back_user_edit', {'id': user[0].id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-2">
        {{ knp_pagination_render(users) }}
    </div>
    <a href="{{ path('app_back_user_new') }}">Create new</a>
{% endblock %}
