
{% extends 'back/base.html.twig' %}

{% block title %}Picture {% endblock %}
{% block body %}
    <h1>Picture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ picture.name }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ picture.path }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ picture.product.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_picture_index') }}">back to list</a>

    <a href="{{ path('app_back_picture_edit', {'id': picture.id}) }}">edit</a>

    {{ include('back/picture/_delete_form.html.twig') }}
{% endblock %}
