{% extends 'back/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
 <div>


    <table class="table">

        <thead>
            <tr>
                <th>                   {{
                    knp_pagination_sortable(
                        products,
                        'Nom',
                        'product.label'
                    )|raw
                    }}

                </th>
                <th>                  {{
                    knp_pagination_sortable(
                        products,
                        'Description',
                        'product.description'
                    )|raw
                    }}
                </th>
                <th>Categories</th>
                <th>                    {{
                    knp_pagination_sortable(
                        products,
                        'Marque',
                        'brand.label'
                    )|raw
                    }}
                </th>
                <th>                    {{
                    knp_pagination_sortable(
                        products,
                        'Quantité',
                        'product.quantityInStock'
                    )|raw
                    }}</th>
                <th>IsActive</th>
                <th>                  {{
                    knp_pagination_sortable(
                        products,
                        'Prix',
                        'product.priceHt'
                    )|raw
                    }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.label }}</td>
                <td>{{ product.description }}</td>
                <td>

{#                       {{ products.category.label }}#}

                </td>
                <td>
                    {{ product.brand.label}}
                </td>
                <td>{{ product.quantityInStock }}</td>
                <td>{{ product.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ product.priceHt }}</td>
                <td>
                    <a href="{{ path('app_back_product_show', {'id': product.id}) }}">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a href="{{ path('app_back_product_edit', {'id': product.id}) }}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


     <div class="navigation d-flex justify-content-center mt-2">
        {{ knp_pagination_render(products) }}
    </div>
 </div>
    <a href="{{ path('app_admin_product_new') }}">Create new</a>
{% endblock %}
